---
---

@import "{{ site.theme }}";
.page-header { background-color: #3542E4; background-image: none; padding-bottom: 2rem;}

.btn { color: #000000; background-color: #ffffff; border-radius: 0rem; padding: 1rem 3rem; }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { color: #000000; letter-spacing: 1px; }

.project-tagline { color: #ffffff; opacity: 1.0; }

.title h1 {margin: 0rem;}

.date p { color: #d7d7d7; margin: 0rem; }

.main-content h3 { margin-top: 0rem; }

.body {
  font-family: "Noto Sans", sans-serif;
  line-height: 2;
  color: #000000;
}

.main-content ul {
  list-style: none;
}

.main-content ul li::before {
  content: "\2022";
  color: #3542E4;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
